body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #D7E5F5;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin: 0;
  }
  
  table {
    border-collapse: collapse;
    margin: 10px;
    border: 1px solid black;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e2e2e2;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #95bbde;
  }

  .card {
    display: inline-block;
    vertical-align: right;
    margin-left: 30px;
    padding: 10px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    line-height: 1.5;
  }

  